* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

/* LOGIN PAGE */

img {
    max-width: 100%;
    max-height: 100%;
}

.pos {
    position: absolute;
    top: 250px;
    left: 50%;
    transform: translateX(-50%);
}

.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    height: 800px;
    border: 1px solid #2E5673;
    border-radius: 30px;
}

.imgContainer {
    position: absolute;
    width: 30%;
    padding: 20px;
}

.loginContainer {
    position: absolute;
    height: 100%;
    width: 70%;
    right: 0px;
}

.border {
    width: 300px;
    height: 50px;
    font-size: 18px;
    border: 1px solid #2E5673;
    border-radius: 10px;
}

.title {
    position: absolute;
    margin: 30px;
    left: 15px;
    font-size: 32px;
    font-weight: normal;
    text-transform: uppercase;
    top: 60px;
}
.error {
    color: red;
    top: 120px;
}
.exception {
    top: 130px;
    left: 50%;
    margin: 0px;
    font-size: 38px;
    transform: translateX(-50%);
    color: red;
}

button {
    background-color: #2E5673;
    color: white;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
}

.loginList {
    left: 60%;
    transform: translateX(-50%);
}

li {
    list-style: none;
}

.text {
    margin: 20px 0px;
    padding: 5px;
}

.checkboxTitle {
    font-size: 18px;
    display: inline;
    margin: 5px;
}

.checkbox {
    transform: scale(1.5);
    margin-top: 20px;
    margin-left: 5px;
}

/* NAVBAR */

nav {
    z-index: 2;
    position: sticky;
    top: 0px;
    height: 80px;
    width: 100%;
    background-color: #2E5673;
}

nav ul {
    position: absolute;
    top: 30px;
    right: 30px;
}

nav li {
    position: relative;
    display: inline;
    margin: 10px 40px;
    padding: 20px;
}

nav a {
    font-size: 20px;
    color: white;
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: 0.3s;
}

nav a:hover {
    color: black;
}

.currentPage {
    border-bottom: 1px solid;
}

/* ORDERS STATUS BOARD*/
section {
    text-align: center;
    width: 100%;
}

.statusBoard>div {
    position: relative;
    display: inline-block;
    width: 350px;
    height: 700px;
    top: 100px;
    overflow-y: scroll;
    overflow-x: hidden;

}

.new {
    float: left;
    margin-left: 150px;
}

.finished {
    float: right;
    margin-right: 150px;
}

.boardTitle {
    text-transform: uppercase;
    font-size: 25px;
    margin: 10px;
    font-weight: normal;
}

.sticky {
    position: sticky;
    z-index: 2;
    top: 0px;
    height: 30px;
    background-color: white;
}

::-webkit-scrollbar {
    display: none;
}
.ticket {
    position: relative;
    margin-top: 20px;
    width: 95%;
    height: 150px;
    background-color: #e0e4e6;
    font-size: 20px;
    border: 1px solid #2E5673;
    border-radius: 10px;
    box-shadow: 1px 3px 5px #2E5673;
    cursor: pointer;
}
.ticket td {
    padding: 5px;
}


/*CLIENTS*/


.clientsTable {
    position: relative;
    top: 100px;
    width: 90%;
    height: auto;
    left: 50%;
    transform: translateX(-50%);
    border-spacing: 10px 15px;
}

.clientsTable td {
    font-size: 20px;
    padding: 10px;
    background-color: #2E5673;
    color: white;
}

.clientsTable tr {
    margin-top: 50px;
}

/* ADD NEW TICKET*/
.clientInput {
    text-align: center;
}

.clientInput li {
    position: relative;
    display: inline-block;
    top: 100px;
}

.clientInput input {
    width: 300px;
}

.left {
    float: left;
    margin-left: 200px;
}

.right {
    float: right;
    margin-right: 200px;
}

.newTicketTitle {
    position: relative;
    top: 90px;
    margin-top: 30px;
}

.repairWrapper {
    position: relative;
    top: 130px;
    height: 100px;
    margin: 0px 200px;
}

.repairDescription {
    height: 100%;
    width: 60%;
    margin: 0px;
}

.repairDescription input, .textContainer {
    width: 100%;
    height: 100%;
    margin: 0px;
    overflow: scroll;
}
.textContainer {
    width: 50%;
}

.repairPrice {
    text-align: right;
    position: absolute;
    width: 40%;
    right: 0px;
    top: 50px;
}

.totalPrice {
    position: absolute;
    display: inline;
    right: 0;
    padding: 15px;
}

.repairPrice .border {
    text-align: center;
    float: right;
    padding: 15px;
}

.repairStatus {
    margin-top: 50px;
}
.repairStatus > p {
    position: relative;
    top: 0px;
    margin-bottom: 40px;
}

.repairDescription h2 {
    font-size: 25px;
    margin: 20px;
    font-weight: normal;
    text-transform: uppercase;
}

.repairDescription select {
    font-size: 18px;
    padding: 5px;
    text-transform: uppercase;
}

.footer {
    position: relative;
    height: 150px;
    width: 100%;
    top: 200px;
}
.addPartBtn {
    position: relative;
    top: 95px;

}
.dataDisplay {
    position: relative;
    text-align: center;
    top: 8px;
    scale: 1.1;
}
.label {
    text-transform: uppercase;
    font-size: 18px;
}
.total {
    position: relative;
    padding: 20px;
    left: -70px;
}
.details {
    scale: 0.8;
}

@media (max-width: 1350px) {
    nav li {
        margin: 10px;
    }

    .statusBoard>div {
        width: 200px;
    }

    .left {
        margin-left: 50px;
    }

    .right {
        margin-right: 50px;
    }

    .repairWrapper {
        margin: 0px 50px;
    }
}